



#icon {
	float: left;
	padding:0;
}

#clock {
	text-align: right;
}

#addTitle {
	float: left;
	padding:0px;
}

#add {
	text-align: right;
	padding:0;
}

label {
	margin-top: 20px;
}

#timeFormat {
	font-size: 12px;
}

button {
	margin-top: 20px;
}

div#newTrainSchedule.panel-body{
	height: 0px;
	max-height: 400px;
	visibility: hidden;
	padding: 0px 15px 0px 15px;
}

.newTrainInput {
	padding:0px;

}

#newTrain {
	text-align: right;
}